.casing {
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 150%;
    padding: 4vw 6vw;
  }

.titleContainer {
    width: 55vw;
    margin: auto;
    height: 15vw;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 2vw;
  }
  
.title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: trade-gothic-next-compressed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    position: relative;
    top: -2px;
    background: -webkit-linear-gradient(#4d4d4d 0%, #212121 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  
.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-position: 50% 50%;
    background-size: 150%;
    padding: 5vw;
    padding-top: 0;
  }
  
.buttonsContainer a {
    width: 70%;
    margin: auto;
    margin-bottom: 4vw;
  }
  
.button {
    padding: 2.5vw;
  
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
.button img {
    width: 100%;
    -webkit-filter: drop-shadow(2px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white) 
    drop-shadow(-1px -1px 0 white);
  }
  
.bottom {
    height: 5vw;
    background-position: 50% 100%;
    background-size: 150%;
    background-repeat: no-repeat;
  }