.windowBackground {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;

    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 4% auto 4%;
    grid-template-rows: 2% auto 5%;
  }

.window {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;

    text-align: center;
    display: flex;
  }

.window img {
  width: 80%;
  height: auto;
  margin: auto;
}